<div [style.width]="screenWidth <= 576 ? '4.5rem' : '280px'">
  <div
    class="d-flex flex-column flex-shrink-0 p-3 bg-light min-vh-100"
    [style.width]="screenWidth <= 576 ? '4.5rem' : '280px'"
  >
    <div
      class="fs-3 text-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none"
      *ngIf="screenWidth > 576"
    >
      Revisound
    </div>
    <a
      href="/"
      class="d-block p-3 link-dark text-decoration-none"
      title="Icon-only"
      *ngIf="screenWidth <= 576"
    >
      <i class="fas fa-home"></i>
    </a>
    <hr *ngIf="screenWidth > 576" />
    <ul
      class="nav nav-pills flex-column mb-auto"
      [ngClass]="{ 'nav-flush': screenWidth <= 576 }"
    >
      <li class="nav-item" *ngFor="let link of navLinks">
        <a
          [routerLink]="link.path"
          class="nav-link d-flex align-items-center"
          [ngClass]="{ 'py-3 border-bottom': screenWidth <= 576 }"
          routerLinkActive="active"
          [title]="screenWidth <= 576 ? 'Home' : null"
          [attr.aria-current]="screenWidth > 576 ? 'page' : null"
        >
          <i [class]="link.icon" [ngClass]="{ 'me-2': screenWidth > 576 }"></i>
          <span *ngIf="screenWidth > 576" class="ms-2">{{ link.label }}</span>
        </a>
      </li>
    </ul>
    <hr *ngIf="screenWidth > 576" />
    <div
      [class]="screenWidth <= 576 ? 'dropdown border-top' : 'dropdown'"
      ngbDropdown
    >
      <a
        class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
        [id]="screenWidth <= 576 ? 'dropdownUser3' : 'dropdownUser2'"
        ngbDropdownToggle
        [class]="screenWidth <= 576 ? 'justify-content-center p-3' : ''"
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          [width]="screenWidth <= 576 ? '24' : '32'"
          [height]="screenWidth <= 576 ? '24' : '32'"
          class="rounded-circle"
          [class.me-2]="screenWidth > 576"
        />
        <strong *ngIf="screenWidth > 576">{{ fullName }}</strong>
      </a>
      <ul
        class="dropdown-menu text-small shadow"
        [attr.aria-labelledby]="
          screenWidth <= 576 ? 'dropdownUser3' : 'dropdownUser2'
        "
        ngbDropdownMenu
      >
        <li><a class="dropdown-item text-dark" href="#">Berserk</a></li>
        <li>
          <hr class="dropdown-divider" />
        </li>
        <li>
          <a class="dropdown-item text-dark" (click)="logout()"
            >Cerrar sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
